{% extends '::base.html.twig' %}

{% block body -%}
    <h1>file list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>Path</th>
                <th>Metatags</th>
                <th>Dateupdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('file_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.file }}</td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.metatags }}</td>
                <td>{% if entity.dateUpdate %}{{ entity.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('file_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('file_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('file_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
