<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="index.html" id="logo" class="navbar-brand">
            <img src="{{ asset('img/logo.png') }}" alt="" class="normal-logo logo-white">
            <img src="{{ asset('img/logo-black.png') }}" alt="" class="normal-logo logo-black">
            <img src="{{ asset('img/logo-small.png') }}" alt="" class="small-logo hidden-xs hidden-sm hidden">
        </a>
        <div class="clearfix">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="mobile-search">
                            <a class="btn">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="drowdown-search">
                                <form role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="fa fa-search nav-search-icon"></i>
                                    </div>
                                </form>
                            </div>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                        <span class="count">0</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">Tienes 0 notificaciones</li>
                            <!--<li class="item">
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    <span class="content">New comment on ‘Awesome P...</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                </a>
                            </li>-->
                            <li class="item-footer">
                                <a href="#">
                                    Ver todas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="count">16</span>
                        </a>
                        <ul class="dropdown-menu notifications-list messages-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <!--<li class="item first-item">
                                <a href="#">
                                    <img src="img/samples/messages-photo-1.png" alt="">
                                    <span class="content">
                                        <span class="content-headline">
                                            George Clooney
                                        </span>
                                        <span class="content-text">
                                            Look, just because I don't be givin' no man a foot massage don't make it
                                            right for Marsellus to throw...
                                        </span>
                                    </span>
                                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                </a>
                            </li>-->
                            <li class="item-footer">
                                <a href="#">
                                    Ver todos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset(usuario.perfil.file.file)}}" alt="">
                            <span class="hidden-xs">{{usuario.userName}}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('perfil')}}"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                            <li><a href="{{path('logout')}}"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xxs">
                        <a class="btn">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div id="page-wrapper" class="container">
<div class="row">
<div id="nav-col">
<section id="col-left" class="col-left-nano">
<div id="col-left-inner" class="col-left-nano-content">
    <div id="user-left-box" class="clearfix hidden-sm hidden-xs">
        <img alt="" src="{{ asset(usuario.perfil.file.file)}}">
        <div class="user-box">
            <span class="name">
                Bienvenido(a)<br>
            </span>
            <span class="status">
                <i class="fa fa-circle"></i> Online
            </span>
        </div>
    </div>