{% extends '::base_app.html.twig' %}
{% block title %}

<title>HD México | ESET DESlock+</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ESET DESlock+</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset ('bundles/app/style/images/hdmexico-eset-deslock.jpg') }}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p>DESlock+ es una aplicación de uso sencillo para el cifrado de datos, destinada a empresas grandes y pequeñas. Aproveche las ventajas de la configuración optimizada, que acelera el tiempo de adopción para los administradores.<br>

            El lado del cliente requiere una interacción mínima del usuario, lo que mejora el cumplimiento de normativas por parte del usuario así como la seguridad de los datos corporativos, tan solo con un único paquete MSI.<br>

            El lado del servidor facilita la gestión de usuarios y estaciones de trabajo, y extiende la protección corporativa más allá del perímetro de su red.</p>

            <table width="100%" border="0">

              <tr>

                <td width="10%"><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

                <td width="90%">Cifrado simple y potente para empresas</td>

              </tr>

              <tr>

                <td><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png') }}"/></td>

                <td>Permite cifrar discos rígidos, medios extraíbles, archivos y correos electrónicos en forma segura</td>

              </tr>

              <tr>

                <td><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

                <td>Usa los algoritmos y estándares más avanzados para crear claves impenetrables</td>

              </tr>

              <tr>

                <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

                <td>Permite administrar fácilmente cualquier usuario o estación de trabajo en forma remota, incluyendo el uso compartido de claves entre clientes en tiempo real</td>

              </tr>

            </table></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><strong><em>ESET Technology Alliance<br>

            </em></strong>El objetivo de la Alianza tecnológica de ESET es mejorar la protección corporativa mediante una serie de soluciones de seguridad informática. Protegemos al cliente en el entorno de seguridad, que se halla en cambio constante, mediante la combinación de nuestra tecnología de confianza comprobada por el tiempo con otros productos que constituyen los mejores en su campo.            

            </p>

            <p><strong>Lado del cliente</strong><br>

              Los datos son una parte crítica de toda organización, pero este activo tan valioso suele suponer un gran riesgo cuando se traslada o se transmite fuera de la red corporativa. Cumpla con las normativas de seguridad de datos mediante un único paquete MSI.

            <p><strong>Lado del servidor<br>

</strong>El servidor DESlock+ Enterprise Server tiene la capacidad de administrar usuarios y estaciones de trabajo independientemente o en relaciones de "muchos a muchos". El trabajo desde el hogar o desde dispositivos móviles requiere la extensión de las políticas de seguridad mediante el cifrado, más allá del perímetro de la red. Solo DESlock+ ofrece un control completo sin importar dónde se encuentran los usuarios.

            <p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><table width="100%" border="0">

            <tr>

              <td width="52%">&nbsp;</td>

              <td width="12%"><p>Personal<br>

                Edition</p></td>

              <td width="12%"><p>Essencial<br>

                Edition</p></td>

              <td width="12%"><p>Standard<br>

                Edition</p></td>

              <td width="12%"><p>DESlock+ <br>

                Pro</p></td>

              </tr>

            <tr>

              <td bgcolor="#F2F2F2"><p>Cifrado del disco completo</p></td>

              <td bgcolor="#F2F2F2"><p>-</p></td>

              <td bgcolor="#F2F2F2">-</td>

              <td bgcolor="#F2F2F2">-</td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png') }}"/></td>

              </tr>

            <tr>

              <td><p>Cifrado de medios extraíbles</p></td>

              <td class="comment">-</td>

              <td>-</td>

              <td><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              </tr>

            <tr>

              <td bgcolor="#F2F2F2"><p>Cifrado portable con Deslock+ Go</p></td>

              <td bgcolor="#F2F2F2" class="comment">-</td>

              <td bgcolor="#F2F2F2">-</td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png') }}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png') }}"/></td>

              </tr>

            <tr>

              <td><p>Cifrado de archivos y carpetas</p></td>

              <td class="comment"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              </tr>

            <tr>

              <td bgcolor="#F2F2F2"><p>Complemento para correo electrónico <br>

                y archivos adjuntos de Outlook</p></td>

              <td bgcolor="#F2F2F2" class="comment"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png') }}"/></td>

              </tr>

            <tr>

              <td><p>Cifrado de texto y portapapeles</p></td>

              <td class="comment"><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              </tr>

            <tr>

              <td bgcolor="#F2F2F2"><p>Discos virtuales y archivos cifrados</p></td>

              <td bgcolor="#F2F2F2" class="comment"><img src="{{asset ('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td bgcolor="#F2F2F2"><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              </tr>

            <tr>

              <td><p>Compatibilidad con la administración <br>

                centralizada</p></td>

              <td class="comment">-</td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              <td><img src="{{asset('bundles/app/style/images/hdmexico-ok.png')}}"/></td>

              </tr>

            </table>

            <p>Una única instalación sirve para los cuatro tipos de licencias. El cambio a una versión más completa y la renovación no requieren reinstalación y son tan fáciles como ingresar un código de activación.<br>

              *La edición Essential Edition es exclusiva para los clientes de ESET.</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}