{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México |  ISL Online Descargas</title>
{% endblock %}

{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">ISL Online | Descargas</h1>
    	<!-- .entry-meta -->
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline.jpg')}}" alt="" /></div>
          <!--TYPO3SEARCH_begin-->
<link rel="stylesheet" type="text/css" href="./style/script_desplegable/screen_6d455c7f17_minify__merged.css" media="screen">
  <script type="text/javascript" src="./style\script_desplegable/ebacc5180d_minify__merged.js"></script>
  <meta name="viewport" content="width = 630, user-scalable = yes">
<body><div id="icon-mouseover-hover-opacity-helper" class="icon-mouseover-hover-opacity"></div>
  <div style="position:absolute;"></div>

<div id="website" class="clearfix">
  <div id="content" class="clearfix">
  <div class="gradient-box box-element clearfix" id="c3995">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Soporte Remoto</a></h1>
    <div id="c4005" class="csc-default" style="display: none;">
    <table width="100%" border="0">
              <tr>
                <td width="70%">ISL Light Operador<br>
                  <img width="48" height="8" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Ofrezca soporte remoto a sus clientes, partners, y empleados.<br>
                  </span></span><br>                  
                  <br></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  <img src="{{asset('bundles/app/style/images/download-islonline/isl-light-operador.jpg')}}" alt="" width="102" height="30" title=""></a><br>
                </p></td>
                </tr>
              <tr>
                <td>ISL Light Cliente<br>
                  <img width="48" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style="">
                  Reciba soporte remoto a través de un operador.<br>                  <br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://www.islonline.net/start/isllightclient" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-light-cliente.jpg')}}" alt="" width="102" height="30" style="" title=""></a></a></p></td>
                </tr>
              <tr>
                <td>ISL Light iOS<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Conéctese con su iPhone, iPad, o iPad touch a cualquier equipo Windows, Mac o Linux y realice control remoto.<br>
                  </span></span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-download&language=es" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/appstore-button.jpg')}}" alt="" width="95" height="30" style="" title=""></a></p></td>
                </tr>
              <tr>
                <td>ISL Light Android<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="font-size: 9pt;">Conéctese desde Android a cualquier equipo Windows, Mac, o Linux y realice control remoto.</span><br></td>
                <td>&nbsp;</td>
                <td><span style="text-align: left;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><br>
                    <img src="{{asset('bundles/app/style/images/download-islonline/android-app-on-play-logo-large.jpg')}}" alt="" width="79" height="30" style="" title=""></a></span></td>
              </tr>
              <tr>
                <td>ISL Light WMC<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style="">
                  <span style="text-align: justify;"><span style="font-size: 9pt;">Utilice su smartphone Windows Mobile 6.5 para conectarse a Windows, Mac o Linux y realice control remoto. También podrá conectarse a su dispositivo móvil desde su equipo.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="https://www.islonline.com/system/special?p=isl-light&os=wince" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-light-wmc.jpg')}}" alt="" width="102" height="30" style="" title=""></a></p></td>
                </tr>
              </table>
</div>
</div></div>
  
  <div class="gradient-box box-element clearfix" id="c4002">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Acceso Remoto</a></h1>
    <div id="c4005" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL AlwaysOn<br>
                  <img width="15" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma3.png')}}" v:shapes="Imagen_x0020_11" title="" alt="" style="" /> <span style="text-align: justify;"><span style="font-size: 9pt;">Configure acceso remoto a su equipo y disponga de una lista de equipos remotos.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                </a><a href="http://www.islonline.net/start/ISLAlwaysOn" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-alwayson.jpg')}}" alt="" width="102" height="30" style="" title="" /></a><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Always Connect<br>
                  <img width="48" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style=""><span style="font-size: 9pt;">Acceda a su equipo Windows y realice control remoto.</span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  </a><a href="https://alwayson.islonline.net/users/islalwayson/list.html" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-alwayson-connect.jpg')}}" alt="" width="102" height="30" style="" title="" /></a></p></td>
              </tr>
              <tr>
                <td>ISL Light iOS<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Con el sistema de control remoto podrá acceder a su equipo Windows desde su iPhone, iPad, o iPad touch.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=2.1&os=ios&topic=appstore-download&language=es" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/appstore-button.jpg')}}" alt="" width="95" height="30" title="" /></a></span></p></td>
              </tr>
              <tr>
                <td>ISL Light Android<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Acceda a su equipo Windows y controle el escritorio remoto a través de su dispositivo Android.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><span style="text-align: left;"><br>
                <a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><br>
                  <span style="text-align: center;"><a href="http://www.islonline.com/r301/?type=program&program=isl-light&version=1.1&os=android&topic=gplay-app-url&language=es" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/android-app-on-play-logo-large.jpg')}}" alt="" width="79" height="30" title="" /></a></span></p></td>
              </tr>
            </table></div></div></div>
  
  <div class="gradient-box box-element clearfix" id="c4006">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;" class="">Web Chat</a></h1>
    <div id="c4009" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL Pronto<br>
                  <img width="48" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">La Mensajería Instantánea Corporativa le permitirá ofrecer servicios de soporte a través del chat y resolver cualquier cuestión al instante<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><a href="http://www.islonline.net/start/ISLPronto" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl_pronto.jpg')}}" alt="" width="102" height="30" style="font-size: 13px;" title="" /></a><a href="http://www.islonline.net/start/ISLAlwaysOn" target="_blank"></a><br>
                </p></td>
              </tr>
        </table></div></div></div>
  
  <div class="gradient-box box-element clearfix" id="c4011">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;">Conferencia Web</a></h1>
    <div id="c4014" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL Groop<br>
                  <img width="48" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Únese o cree tu propia Reunión Online o Webinar.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><span style="text-align: center;"><a href="http://www.islonline.net/join/233-686-955" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-pronto-reunion.jpg')}}" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Groop iOS<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Participe en reuniones online desde su iPhone o iPad.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <a href="http://itunes.apple.com/es/app/isl-groop/id586629371?mt=8" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/appstore-button.jpg')}}" alt="" width="95" height="30" title="" /></a><br>
                </p></td>
              </tr>
            </table></div></div></div>
  <div class="gradient-box box-element clearfix" id="c4137">
    <div class="accordion">
      <h1 class="csc-firstHeader"><a href="javascript:return false;">Herramientas ISL Online</a></h1>
    <div id="c4140" class="csc-default" style="display: none;"><table width="100%" border="0">
              <tr>
                <td width="70%">ISL WebStart<br>
                  <img width="15" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma3.png')}}" v:shapes="Imagen_x0020_11" title="" alt="" style="" /> <span style="text-align: justify;"><span style="font-size: 9pt;">ActiveX / Netscape le permite iniciar sus sesiones ISL Online al instante directamente desde su explorador (Internet Explorer, Mozilla Firefox, Safari, Google Chrome, Opera), sin visualizar diálogos de seguridad.<br>
                  </span></span></td>
                <td width="3%">&nbsp;</td>
                <td width="27%"><p style="text-align: left;"><a href="http://www.islonline.net/start/isllightdesk" target="_blank"><br>
                  </a><span style="text-align: center;"><a href="https://www.islonline.net/start/ISLWebStart" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-webstart.jpg')}}" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Tester<br>
                  <img width="48" height="17" src="{{asset('bundles/app/style/images/download-islonline/multiplataforma2.png')}}" v:shapes="Imagen_x0020_18" title="" alt="" style=""><span style="font-size: 9pt;"> Compruebe la disponibilidad de la red global de servidores ISL Online o realice un test sobre la instalación de su propio servidor ISL Conference Proxy.</span><br></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="https://www.islonline.net/start/ConnectionTester" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl-tester.jpg')}}" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              <tr>
                <td>ISL Recording Player<br>
                  <img width="9" height="15" src="{{asset('bundles/app/style/images/download-islonline/Multiplataforma4.png')}}" v:shapes="Imagen_x0020_16" title="" alt="" style=""> <span style="text-align: justify;"><span style="font-size: 9pt;">Con el sistema de control remoto podrá acceder a su equipo Windows desde su iPhone, iPad, o iPad touch.<br>
                  </span></span></td>
                <td>&nbsp;</td>
                <td><p style="text-align: left;"><br>
                  <span style="text-align: center;"><a href="https://www.islonline.net/start/ISLRecordingPlayer" target="_blank"><img src="{{asset('bundles/app/style/images/download-islonline/isl_player.jpg')}}" alt="" width="102" height="30" style="" title="" /></a></span><br>
                </p></td>
              </tr>
              </table></div></div></div>
                        
</div>
<div id="bottom-chrome" style="display: none;">
        <div id="bottom-chrome-arrow">
          <img src="{{asset('bundles/app/style/script_desplegable/green-arrow-trans.png')}}" align="bottom">
        </div>
        <div id="bottom-chrome-end">
        </div>
      </div>
<!--TYPO3SEARCH_end-->
    </div>
  </article>			
  <hr /><!-- #primary -->
</div><!-- #main -->
{% endblock %}