{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL AlwaysOn Acceso Remoto</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>

<div id="main">
<div id="primary">
  <div id="content" role="main">
    <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h1 class="entry-title">ISL AlwaysOn | Acceso Remoto</h1>
    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline-islalwayson.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p><strong>Software de control Remoto para su Empresa<br>

          </strong>ISL AlwaysOn le ofrece un rápido y seguro acceso remoto a sus equipos desde cualquier navegador Web en culaquier momento que lo necesite. También podrá utilizar cualquier dispositivo móvil (iPad, iPhone, Windows Phone) para un acceso remoto a sus equipos desde cualquier lugar.</p>

            <p><img src="{{asset('bundles/app/style/images/hdmexico-islonline-islalwayson-0.png')}}"></p>

            <p>&nbsp;</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><img src="{{asset('bundles/app/style/images/ok.jpg')}}">Acceso remoto a equipos, servidores y dispositivos móviles en cualquier momento y sin desplazamientos<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Posibilidad de descargar, editar y compartir archivos desde cualquier equipo sin necesidad de acceder de forma remota<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Transparente a firewalls<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso y control remoto desde  iPhone, iPad o dispositivos Android. O conexión desde equipos Windows, Mac o Linux a dispositivos Android para realizar tareas de configuración, ofrecer soporte técnico o gestionar información<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso a  equipos remotos, incluso si están apagado o en modo hibernación<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Reportes de acceso y conexión de usuarios<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Múltiples contraseñas de un solo uso para limitar el acceso a usuarios<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Máxima seguridad:  256 Bits AES Encriptación End-to-end<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Disponible en más de 30 idiomas<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso remoto desde todas las plataformas y dispositivos</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}
