{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL Pronto Web Chat</title>
{% endblock %}
{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>



<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ISL Pronto | Web Chat</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline-islpronto.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p><strong>Mejore el servicio de soporte a sus clientes<br>

          </strong>Ofrezca ayuda en tiempo real a los visitantes de su sitio web.<br>

          ISL Pronto es una solución de chat en directo para atención a clientes y soporte web, que hará incrementar sus ventas rápidamente y reducirá en gran medida los costes operativos. Además, puede utilizar ISL Pronto como una solución de Mensajería Instantánea Corporativa y disponer de comunicación en tiempo real con sus empleados y socios.</p>

            <p><img src="{{asset('bundles/app/style/images/hdmexico-islonline-islpronto-0.png')}}"></p>

            <p>&nbsp;</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><img src="{{asset('bundles/app/style/images/ok.jpg')}}">Basta con añadir unas líneas de código HTML/JavaScript al sitio web y el botón de Web Chat que aparecerá y le permitirá establecer comunicación en tiempo real entre los visitantes de su página web y su personal de ventas y soporte<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Mensajería intantánea corporativa. Mejora la comunicación interna con todos sus colaboradores a través de chat, videoconferencia y control remoto<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Inicie sesión de control remoto desde el chat y conéctese a los equipos de sus clientes para proveer asistencia técnica inmediata<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Sin instalacione o configuraciones para inicio de chat con visitantes y clientes del sitio<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Personalizable a las necesidades, imagen, logo y colores de cada empresa<br>

Integración vía API (Application Programming Interface)<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Modo online/offline<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Respuestas predefinidas, mayor productividad de los operadores<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Transferencia de chats<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Reportes gráficos de las estadísticas sobre el volumen de chat y su duración<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Mensajes privados<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Historial de chat<br>

<img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Encuestas al finalizar la sesión<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Máxima seguridad:  256 Bits AES Encriptación End-to-end<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Disponible en más de 30 idiomas<br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso remoto desde todas las plataformas y dispositivos</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}