{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL Groop Conferencia Web</title>

{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>


<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ISL Groop | Conferencia Web</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline-islgroop.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p><strong>Reuniones online y Webinars<br>

          </strong>Audio, Vídeo, Chat, Compartir escritorio, Presentaciones PowerPoint.<br>

          ISL Groop es un software de conferencias para reuniones online, webinars, e-learning y colaboración web. Invite a los participantes a través de Internet, comparta contenido y utilice audio y video. De esta forma, podrá abordar proyectos con su equipo de trabajo internacional u organizar webinars con mayor número de asistentes.</p>

            <p><img src="{{asset('bundles/app/style/images/hdmexico-islonline-islgroop-0.png')}}"></p>

            <p>&nbsp;</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Organice reuniones de negocios online con colaboradores o clientes, y organice webinars para capacitaciones online

            <br>

            <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Comparta su escritorio, una aplicación o una región específica con el resto de participantes<br>

          <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Podrá crear y participar una reunión online, también cuando está fuera de la oficina desde un dispositivo móvil<br>

          <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Importe facilmente presentaciones en PPT y comparta contenido con los asistentes<br>

          Grabación de sesiones<br>

          <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Chat, VoIP &amp; Video<br>

          Archivos compartidos con los asistentes<br>

          Reportes gráficos de las estadísticas  sobre los eventos online, duración, información de asistentes, etc.<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Personalizable a las necesidades, imagen, logo y colores de cada empresa<br>

              Integración vía API (Application Programming Interface)<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Máxima seguridad:  256 Bits AES Encriptación End-to-end<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Disponible en más de 30 idiomas<br>

              <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso remoto desde todas las plataformas y dispositivos</p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}