{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL Light Soporte Remoto</title>
{% endblock %}

{% block body %}
<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>



<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">ISL Light | Soporte Remoto</h1>

    	<!-- .entry-meta -->

    </header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline-isllight.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="30%"><p><strong>Ofrezca soporte a sus clientes de forma remota<br>

          </strong>Vea el escritorio y controle equipos remotos o dispositivos móviles.<br>

          ISL Light es un software de control remoto de equipos muy fácil de usar. Vea el escritorio de su cliente y controle cualquier equipo ya sea con Windows, Mac o Linux desde cualquier lugar del mundo en menos de 30 segundos.</p>

            <p><img src="{{asset('bundles/app/style/images/hdmexico-islonline-isllight-0.png')}}"></p>

            <p>&nbsp;</p></td>

          <td width="10%">&nbsp;</td>

          <td width="40%"><p><img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">No solo puede ver y controlar el escritorio de su cliente, sino que puede mostrar el suyo en cualquier momento.<br>

            Transferencia de archivos en segundos

                <br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso y control remoto desde  iPhone, iPad o dispositivos Android. O conexión desde equipos Windows, Mac o Linux a dispositivos Android para asistencia remota a usuarios móviles desde sus equipos<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Grabación de sesiones de control remoto<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Transparente a firewalls<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Chat, VoIP &amp; Video<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Reportes de acceso y conexión de usuarios<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Gestión centralizada de usuarios<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Personalizable a las necesidades, imagen, logo y colores de cada empresa<br>

                Integración vía API (Application Programming Interface)<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Transferencia de sesiones de soporte remoto a otros técnicos<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Máxima seguridad:  256 Bits AES Encriptación End-to-end<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Disponible en más de 30 idiomas<br>

                <img src="{{asset('bundles/app/style/images/ok.jpg')}}" alt="">Acceso remoto desde todas las plataformas y dispositivos

          </p></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td colspan="3"><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->
{% endblock %}