{% extends '::base_app.html.twig' %}
{% block title %}
<title>HD México | ISL Funciones</title>
{% endblock %}

{% block body %}

<style type="text/css">
.single.singular #main #primary #content .post.hentry.format-image .entry-content .active {
	font-style: italic;
	text-align: center;
	color: #999999;
}
.single.singular #main #primary #content .post.hentry.format-image .entry-content table tr td p {
	font-size: 12px;
	text-align: justify;
}
</style>




<div id="main">

<div id="primary">

  <div id="content" role="main">

    <!-- begin article -->

  <article class="post hentry format-image">

  	<header class="entry-header">

		<h1 class="entry-title">Funciones ISL Online</h1></header>

    <!-- .entry-header -->

    

    <div class="entry-content">

      <div class="full-size">

      	<img src="{{asset('bundles/app/style/images/hdmexico-islonline.jpg')}}" alt="" /></div>

      <table width="100%" border="0">

        <tr>

          <td width="10%">&nbsp;</td>

          <td width="80%">

            <table width="100%" border="0">

            <tr>

              <td colspan="2" VALIGN=TOP><span style="font-weight: bold; color: rgb(186, 214, 50); font-size: 24pt; ">Funciones</span></td>

              <td width="13%"><div align="left"><img src="{{asset('bundles/app/style/images/ISL-Light-64x64.png')}}" class="aligncenter"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Soporte Remoto<br>

              </span></div></td>

              <td width="13%"><div align="center"><img src="{{asset('bundles/app/style/images/ISL-AlwaysOn-64x64.png')}}" class="aligncenter"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Acceso Remoto<br>

              </span></div></td>

              <td width="13%"><div align="center"><img src="{{asset('bundles/app/style/images/ISL-Pronto-64x64.png')}}" class="aligncenter"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Web Chat<br>

              </span></div></td>

              <td width="13%"><div align="center"><img src="{{asset('bundles/app/style/images/ISL-Groop-64x64.png')}}" class="aligncenter"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Conferencia Web</span></div></td>

            </tr>

            <tr>

              <td width="20%">&nbsp;</td>

              <td width="28%">&nbsp;</td>

              <td colspan="4"><hr></td>

              </tr>

            <tr>

              <td rowspan="6" valign="top"><span style="color: rgb(186, 214, 50); font-weight: bold; font-size: 12pt; line-height: 1.4em;">1 Licencia</span></td>

              <td VALIGN=TOP><span style="font-size: 8pt;">Todo en Uno</span></td>

              <td colspan="4"><div align="center"><span style="text-align: center;"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Una licencia le permite utilizar los 4 productos de ISL Online</span></span></div></td>

            </tr>

            <tr>

              <td><span style="font-size: 8pt;">Nº de Sesiones simultáneas</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Una sesión de soporte remoto o una sesión de acceso remoto. O una sesión de conferencia web (10 participantes)</span></td>

            </tr>

            <tr>

              <td><span style="font-size: 8pt;">Nº de sesiones simultáneas desde un Pc</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Opción Multicanal disponible.</span></span></td>

            </tr>

            <tr>

              <td><span style="font-size: 8pt;">Nº ilimitado de equipos</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Ejecute el software de ISL Online en cualquier equipo o dispositivo móvil.</span></span></td>

            </tr>

            <tr>

              <td><span style="font-size: 8pt;">Nº ilimitado de operadores</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Nº ilimitado de operadores pueden albergar una sesión</span></span></td>

            </tr>

            <tr>

              <td><span style="font-size: 8pt;">Nº ilimitado de clientes</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Soporte a un número ilimitado de clientes</span></span></td>

            </tr>

            <tr>

              <td colspan="6"><hr></td>

              </tr>

            <tr>

              <td valign="top"><span style="font-weight: bold; color: rgb(186, 214, 50); font-size: 12pt;">Instalación</span></td>

              <td valign="top"><span style="text-align: left;"><span style="font-size: 8pt;">Sin instalaciones Cliente</span></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter" align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Sin instalaciones Operador</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Sin configuraciones</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Transparente a firewalls</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" height="10" class="aligncenter"  align="baseline" ></span></td>

            </tr>

            <tr>

              <td colspan="6"><hr></td>

              </tr>

            <tr>

              <td valign="top"><span style="text-align: left;"><span style="font-weight: bold; color: rgb(186, 214, 50);">Seguridad</span></span></td>

              <td valign="top"><span style="font-size: 8pt;">256-bit SSL</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" ></span></td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Contraseñas de sesión dinámicas <br>

(códigos de sesión)</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Contraseña de acceso privada</span></td>

              <td>&nbsp;</td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

            </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Certificado Digital Verisign</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Autenticación externa</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td colspan="6"><hr></td>

              </tr>

            <tr>

              <td valign="top"><span style="font-size: 12pt; line-height: 1.4em; font-weight: bold; color: rgb(186, 214, 50);">Plataforma</span></td>

              <td valign="top"><span style="font-size: 8pt;">Windows (desde 2000 a 7)</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Linux</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Mac</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">iOS (iPhone, iPad, iPod touch)</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Android</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Windows Mobile 6.5</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

              <td>&nbsp;</td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Sistemas operativos de servidor</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td colspan="6"><hr></td>

              </tr>

            <tr>

              <td valign="top"><span style="font-weight: bold; color: rgb(186, 214, 50); font-size: 12pt;">Gestión</span></td>

              <td><span style="text-align: left;"><span style="font-size: 8pt;">Informes</span></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Diálogos de sesiones</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td>&nbsp;</td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Gestión de usuario</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td colspan="6"><hr></td>

              </tr>

            <tr>

              <td><span style="text-align: left;"><span style="font-weight: bold; color: rgb(186, 214, 50);">Soporte</span></span></td>

              <td valign="top"><span style="font-size: 8pt;">Disponibilidad</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Todos los días de la semana.<br>

                (8:00 - 22:00 CET, excepto 1/Ene, 1/May, 25/Dic) </span></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Soporte Premium 24 x 7 x 365</span></td>

              <td colspan="4"><span class="aligncenter" style="font-size: 8pt; text-align: center;">Disponible con un coste adicional</span></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Manual de usuario y soporte Online</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Video Turoriales</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td>&nbsp;</td>

              <td valign="top"><span style="font-size: 8pt;">Todas las novedades y nuevas versiones</span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              <td><span style="font-weight: bold;"><img src="{{asset('bundles/app/style/images/ok.jpg')}}" class="aligncenter" align="bottom" ></span></td>

              </tr>

            <tr>

              <td colspan="6"><hr></td>

            </tr>

            </table></td>

          <td width="10%">&nbsp;</td>

        </tr>

        <tr>

          <td>&nbsp;</td>

          <td><p>&nbsp;</p></td>

        </tr>

        </table>

    </div>

  </article>			

  <hr /><!-- #primary -->

</div><!-- #main -->

{% endblock %}