{% extends '::base.html.twig' %}

{% block body -%}
    <h1>mensaje</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Subjet</th>
                <td>{{ entity.subjet }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mensaje_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
